table { 
    border:none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(153, 151, 151);
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto; 
    height: 20vh;
    padding: 2%;
} 
  
input[type="button"] { 
    box-shadow: 0 0 10px rgb(153, 151, 151);
    color: black; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    margin: 5px 5px;
    border-radius: 50px;     
} 
  
input[type="text"] { 
    box-shadow: 0 0 10px rgb(153, 151, 151);
    width: 98%;
    height: 60px;
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 50px; 
    padding-left: 20px;
}

input[type="button"]:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

td input[type="button"] {
    width: 100px;
    height: 60px;
}