table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: green; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
}

/* document.addEventListener("DOMContentLoaded", function () {
    const res = document.getElementById("result");

    const buttons = document.querySelectorAll("#cal input[type= 'button']");

    buttons.forEach(function (button) {
        button.addEventListener("click", function () {
            handle(button.value);
        })
    });

    function handle(value) {
        switch (value) {
            case "=":
                try {
                    resultInput.value = eval(resultInput.value);
                } catch (error) {
                    resultInput.value = "Error";
                }
                break;

            case "c":
                res.value = "";
                data = {
                    fval: "",
                    ope: "",
                    sval: ""
                };
                break;
            default:
                break;
        }
    }
}) */