table { 
    border:none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(153, 151, 151);
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto; 
    height: auto;
    padding: 15px;
} 
  
input[type="button"] { 
    box-shadow: 0 0 10px rgb(153, 151, 151);
    color: black; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    margin: 5px 5px;
    border-radius: 50px;     
} 
  
input[type="text"] { 
    box-shadow: 0 0 10px rgb(153, 151, 151);
    width: 285px;
    min-height: 60px;
    height: auto;
    margin: 5px 5px;
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 50px; 
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
}

input[type="button"]:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

td input[type="button"] {
    width: 100px;
    height: 60px;
}


/* table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: green; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} */

/* document.addEventListener("DOMContentLoaded", function () {
    const res = document.getElementById("result");

    const buttons = document.querySelectorAll("#cal input[type= 'button']");

    buttons.forEach(function (button) {
        button.addEventListener("click", function () {
            handle(button.value);
        })
    });

    function handle(value) {
        switch (value) {
            case "=":
                try {
                    resultInput.value = eval(resultInput.value);
                } catch (error) {
                    resultInput.value = "Error";
                }
                break;

            case "c":
                res.value = "";
                data = {
                    fval: "",
                    ope: "",
                    sval: ""
                };
                break;
            default:
                break;
        }
    }
}) */